.main-container {
    display: flex;

    .nav-dash-container {
        height: 99vh;
        border-right: 1px solid gray;
        border-bottom: 1px solid gray;

        .chevron-icon {
            width: 30px;
            height: 30px;
            margin-left: 300px;
            margin-top: 8px;
        }

        .menu-icon {
            width: 30px;
            height: 30px;
            margin-left: 30px;
            margin-top: 8px;
        }
    }

    hr {
        margin: 5px 0;
    }

    .icon {
        width: 30px;
        height: 30px;
        margin: 5px 30px;
    }

    .label {
        font-size: 20px;
        margin: 10px 20px 10px 0;
        width: 300px;
    }

    .item-container {
        display: flex;
        height: 44px;
        margin: 10px 0;
        cursor: pointer;

        &:hover {
            background-color: rgb(236, 236, 236);
        }
    }

    .home-container {
        display: flex;

        &:hover {
            background-color: rgb(236, 236, 236);
        }
    }

    .data-container {

        .header-container {
            display: flex;
            justify-content: space-between;
            background-color: rgb(87, 87, 245);
            height: 48px;


            .auth-container {
                display: flex;

                .auth-icon {
                    width: 40px;
                    height: 40px;
                    border: 1px solid gray;
                    border-radius: 50%;
                    margin: auto;
                    margin-right: 10px;
                }
            }
        }
    }
}